    @media screen and (max-width:1246px) {
        .cards {
            height: 270px;
        }
    }
    
    @media screen and (max-width:1150px) {
        .main {
            height: 300px;
        }
        .main .text p {
            font-size: 25px;
            line-height: 27px;
            color: #FFFFFF;
        }
        .main .vedio video {
            width: 438px;
            margin-top: 41px;
            height: 200px;
        }
    }
    
    @media screen and (max-width:1065px) {
        .main {
            height: 300px;
        }
        .main .text p {
            font-size: 22px;
            line-height: 24px;
            color: #FFFFFF;
        }
        .main .vedio video {
            width: 400px;
            margin-top: 35px;
            height: 170px;
        }
        .app .mobile img {
            margin-top: 91px;
            width: 100%;
            height: 74%;
        }
        .app .essay ul {
            font-size: 16px;
        }
        .app .essay li {
            font-size: 16px;
        }
        .app .essay span {
            font-size: 21px;
        }
        .cards {
            height: 340px;
        }
    }
    
    @media screen and (max-width:915px) {
        .main {
            height: 260px;
        }
        .main .text p {
            font-size: 18px;
            line-height: 21px;
            color: #FFFFFF;
        }
        .main .vedio video {
            width: 300px;
            margin-top: 35px;
            height: 140px;
        }
        .cards {
            height: 37 0px;
        }
    }
    
    @media screen and (max-width:800px) {
        .main {
            height: 260px;
        }
        .main .text {
            margin-top: 25px;
            margin-left: 127px;
        }
        .main .text p {
            font-size: 18px;
            line-height: 22px;
            color: #FFFFFF;
        }
        /* .main .vedio video {
        width: 280px;
        margin-top: 65px;
        height: 120px;
    } */
        /* .main .vedio video {
            width: 348px;
            margin-top: 48px;
            height: 168px;
        } */
        .main .vedio video {
            width: 348px;
            margin-top: 32px;
            height: 171px;
        }
        .main .text span {
            margin-top: 24px;
            font-size: 12px;
        }
        .cards {
            width: 90%;
        }
        .red {
            width: 173px;
            margin-top: 10px;
        }
        .app .mobile img {
            margin-top: 91px;
            width: 100%;
            height: 68%;
        }
        .app .essay {
            margin-left: -20px;
        }
        .app .essay ul {
            font-size: 13px;
        }
        .app .essay li {
            font-size: 13px;
        }
        .app .essay span {
            font-size: 16px;
        }
        .cards {
            height: 350px;
        }
        .stories .story1 p {
            font-size: 20px;
        }
        .stories .story2 p {
            font-size: 12px;
        }
        .below {
            width: 50%;
            height: 60%;
        }
        .below .belowtop {
            padding: 1px;
            margin-top: -20px;
        }
        .below .belowtop img {
            width: 80px;
            height: 60px;
        }
        .ios {
            width: 250px;
        }
        .belowtext {
            display: block;
        }
    }
    
    @media screen and (max-width:700px) {
        .main {
            height: 230px;
        }
        .main .text {
            margin-left: 70px;
            margin-top: 0px;
        }
        .main .vedio video {
            width: 280px;
            margin-top: 15px;
            height: 150px;
        }
        .app .mobile img {
            margin-top: 91px;
            width: 100%;
            height: 70%;
        }
        .app .essay {
            margin-top: 40px;
            margin-left: -40px;
        }
        .app .essay span {
            font-size: 12px;
        }
        .app .essay ul {
            font-size: 10px;
        }
        .app .essay li {
            font-size: 10px;
        }
        .app .mobile img {
            margin-top: 29px;
            width: 100%;
            height: 78%;
        }
        .ios {
            width: 200px;
        }
        footer {
            margin-top: 50px;
        }
    }
    /* @media screen and (max-width:640px) {
    .cards .card {
        width: 100%;
    }
} */
    
    @media screen and (max-width:642px) {
        .main {
            padding-bottom: 40px;
            background-image: none;
            background: linear-gradient(180deg, #0774C7 0%, #055DA0 100%);
            width: 100%;
            margin-left: 0px;
        }
        .app {
            width: 100%;
        }
        .red {
            margin: 8% auto;
        }
        .story {
            width: 70%;
        }
        .main .text {
            margin-left: 0px;
            margin-top: 26px;
        }
        .main .text span {
            font-size: 12px;
        }
        .main .text p {
            text-align: center;
            font-size: 21px;
            line-height: 20px;
        }
        .main .vedio video {
            margin-top: 40px;
        }
        .cards {
            margin-top: 300px;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            height: 400px;
        }
        .cards .card {
            width: 75%;
            margin-bottom: 15px;
            /* position: sticky; */
            /* height: 400px; */
        }
        .getboom {
            margin-top: 250px;
        }
        .below {
            width: 90%;
        }
        .belowtext {
            display: block;
        }
        .lasttext p {
            font-size: small;
        }
        .below .belowtop img {
            width: 50px;
            height: 65px;
        }
    }
    
    @media screen and (max-width:504px) {
        .main {
            display: flex;
            flex-direction: column;
            height: 280px;
        }
        .main .text {
            width: 100%;
            text-align: center;
            margin-top: -10px;
        }
        .main .text p {
            font-size: 18px;
        }
        .red {
            margin: 3% auto;
        }
        .main .vedio video {
            margin-top: 4px;
        }
        .vedio {
            text-align: center;
        }
        .lasttext p {
            font-size: x-small;
        }
        .app .essay {
            width: 61%;
        }
        .app .essay {
            margin-top: 14px;
            margin-left: 0px;
        }
        .getboom {
            margin-top: 300px;
        }
        .belowtext ul li {
            margin-left: 10px;
            font-size: small;
        }
    }
    
    @media screen and (max-width:443px) {
        .cards .card {
            width: 90%;
            margin-bottom: 15px;
            /* position: sticky; */
            /* height: 400px; */
        }
    }
    
    @media screen and (max-width:360px) {
        .top img {
            width: 198px;
        }
        .card {
            width: 100%;
        }
        .app .essay span {
            font-size: 10px;
        }
        .app .essay {
            width: 78%;
        }
        .cards .card {
            width: 100%;
            margin-bottom: 15px;
            /* position: sticky; */
            /* height: 400px; */
        }
        .below .belowtop img {
            width: 40px;
            height: 55px;
        }
    }
    
    @media screen and (max-width:338px) {
        .belowtext p {
            font-size: small;
        }
    }
    
    @media screen and (max-width:320px) {
        .main {
            height: 300px;
        }
        .shadow {
            padding-left: 5px;
        }
        .main .vedio video {
            width: 241px;
            margin-top: 15px;
            height: 161px;
            margin-left: -20px;
        }
        .cards {
            margin-top: 500px;
        }
        .getboom {
            margin-top: 420px;
        }
    }
    /* Responsive on 50% */
    
    @media screen and (min-width:1500px) {
        .main {
            width: 98%;
            height: 500px;
            display: flex;
            justify-content: space-around;
        }
        /* .main .vedio video {
        margin-right: 60px;
        width: 650px;
        margin-top: 60px;
        height: 411px;
    } */
        .main .vedio video {
            margin-right: 118px;
            width: 567px;
            margin-top: 39px;
            height: 391px;
        }
        .main .text {
            width: 500px;
            margin-left: 250px;
        }
        /* .main .text p {
            font-size: 42px;
            line-height: 65px;
        } */
        .main .text p {
            font-size: 37px;
            line-height: 50px;
        }
        .main .text span {
            font-size: 20px;
            line-height: 5px;
            font-weight: 400;
        }
        .red {
            padding: 21px 0;
            width: 430px;
        }
        .stories .story1 p {
            font-size: 43px;
            line-height: 50px;
        }
        .stories .story2 p {
            font-size: 24px;
            line-height: 35px;
        }
        .app .essay span {
            font-size: 35px;
        }
        .app .essay ul {
            font-size: 25px;
            line-height: 40px;
        }
        .app .essay li {
            font-size: 25px;
        }
        .cards {
            height: 530px;
        }
        .cards .card1 img {
            height: 125px;
        }
        .cards .card1 span {
            font-size: 28px;
            line-height: 27px;
        }
        .cards .card1 p {
            line-height: 32px;
            font-size: 22px;
        }
        .ios {
            width: 430px;
            height: 80px;
        }
        .ios p {
            font-size: 35px;
        }
        .below {
            width: 75%;
        }
        footer {
            padding-bottom: 160px;
        }
        .below img {
            width: 200px;
            height: 90px;
        }
        .below .belowtop {
            padding-bottom: 10px;
        }
        .belowtext p,
        li {
            font-size: 30px;
        }
        .lasttext p {
            font-size: 30px;
        }
        .logos svg {
            width: 70px;
            height: 70px;
        }
    }
    
    @media screen and (min-width:2100px) {
        .main .text {
            width: 800px;
            margin-left: 420px;
        }
        /* .main .text p {
            font-size: 50px;
            line-height: 70px;
        } */
        .main .text p {
            font-size: 41px;
            line-height: 66px;
        }
        .main .text span {
            font-size: 28px;
        }
        .red {
            width: 500px;
        }
        /* .main .vedio video {
            margin-right: 179px;
            width: 657px;
            margin-top: 63px;
            height: 434px;
        } */
        .main .vedio video {
            margin-right: 272px;
            width: 623px;
            margin-top: 27px;
            height: 434px;
        }
        .stories .story2 p {
            font-size: 29px;
        }
        .app .essay ul {
            font-size: 28px;
            line-height: 56px;
        }
        .app .essay li {
            font-size: 30px;
        }
        .cards {
            width: 100%;
            ;
            height: 580px;
        }
        .cards .card1 img {
            height: 165px;
        }
        /* .cards .card1 span {
        font-size: 38px;
    } */
        .cards .card1 span {
            font-size: 31px;
            line-height: 29px;
        }
        .cards .card1 p {
            line-height: 38px;
            font-size: 28px;
        }
        .ios {
            width: 530px;
            height: 90px;
        }
        .ios p {
            font-size: 45px;
        }
    }