body {
    margin: 0px;
    padding: 0px;
}

.header {
    width: 100%;
    height: 70px;
    /* border: 2px solid red; */
}

.shadow {
    margin-top: 20px;
    box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.2);
}

.top {
    width: 50%;
    height: 70px;
    /* border: 2px solid black; */
    margin-top: -18px;
}

.top img {
    display: flex;
    margin: auto;
    padding-top: 21px;
}


/* Main section */

.main {
    display: flex;
    width: 90%;
    height: 380px;
    background-image: url('Pics/Subtract.png');
    background-repeat: no-repeat;
    background-size: 100% 100%;
    margin-left: 30px;
    /* border: 2px solid crimson; */
}

.main .text {
    width: 400px;
    margin-left: 160px;
    margin-top: 40px;
}

.main .text p {
    font-style: normal;
    font-weight: 600;
    font-size: 34px;
    line-height: 44px;
    color: #FFFFFF;
}

.main .text span {
    margin-top: 24px;
    font-size: 18px;
    line-height: 14px;
    color: #FFFFFF;
}

.red {
    text-align: center;
    margin-top: 20px;
    padding: 10px 0;
    width: 200px;
    border-radius: 4px;
    background-color: red;
}

.main .vedio {
    margin-left: 30px;
}

.main .vedio img {
    width: 492px;
    margin-top: 60px;
    height: 272px;
}


/* Stories */

.stories {
    margin-bottom: 70px;
    width: 100%;
    /* height: 400px; */
    /* border: 2px solid brown; */
}

.story {
    margin: 0 auto;
    width: 45%;
    /* border: 2px solid orange; */
    /* text-align: center; */
}

.story1 {
    margin-top: 70px;
}

.story2 {
    margin-top: 24px;
}

.stories .story1 p {
    font-family: 'Lato';
    font-style: normal;
    font-weight: 300;
    font-size: 28px;
    line-height: 28px;
}

.stories .story2 p {
    font-family: 'Lato';
    font-style: normal;
    font-weight: 100;
    font-size: 16px;
    line-height: 22px
}


/* Three Logos  */

.logos {
    display: flex;
    justify-content: center;
    align-items: center;
}

.logos svg:nth-child(even) {
    margin-left: 15px;
    margin-right: 15px;
}


/* Countless application */

.app {
    margin: auto;
    width: 80%;
    height: 60%;
    background: linear-gradient(180deg, #0774C7 0%, #055DA0 100%);
    border-radius: 12px;
    display: flex;
    justify-content: center;
    margin-top: 60px;
}

.app .essay {
    width: 50%;
    margin-top: 100px;
    margin-left: 30px;
    /* border: 1px solid red; */
}

.app .essay span {
    text-align: center;
    font-size: 30px;
    line-height: 16px;
    font-weight: 900;
    font-family: 'Lato';
    font-style: normal;
    color: aliceblue;
    margin-left: 36px;
}

.app .essay ul {
    font-family: 'Lato';
    font-style: normal;
    font-weight: 300;
    font-size: 20px;
    color: rgba(255, 255, 255, 0.8);
}

.app .essay li {
    margin-left: 40px;
    font-family: 'Lato';
    font-style: normal;
    font-weight: 300;
    font-size: 20px;
    color: rgba(255, 255, 255, 0.8);
}

.app .mobile {
    width: 50%;
}

.app .mobile img {
    margin-top: 28px;
    width: 100%;
    height: 90%;
}


/* Three cards */

.cards {
    margin: 0 auto;
    margin-top: 80px;
    width: 80%;
    height: 300px;
    display: flex;
    justify-content: space-between;
    /* border: 2px solid red; */
}

.cards .card {
    display: flex;
    border: 1px solid grey;
    width: 30%;
    height: 100%;
    border: 1 px solid gray;
}

.cards .card1 {
    border-radius: 8px;
    background: #F2F4F6;
    display: flex;
    flex-direction: column;
    padding-left: 6px;
}

.cards .card1 img {
    /* width: 270px; */
    width: 95%;
    padding-top: 5px;
    height: 90px;
    border-radius: 10px;
}

.cards .card1 span {
    font-size: 20px;
    font-weight: 900;
    margin-top: 24px;
}

.cards .card1 p {
    margin-top: 16px;
    font-size: small;
    line-height: 20px;
}


/* Get Boomberg  */

.getboom {
    margin-top: 50px;
}

.ios {
    margin: 0% auto;
    width: 340px;
    height: 50px;
    box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.2);
    background: linear-gradient(180deg, #F22E06 0%, #CE2206 100%);
    border-radius: 6px;
}

.ios p {
    font-size: 18px;
    padding-top: 15px;
    text-align: center;
    color: white;
}


/* footer */

footer {
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 80px;
    width: 100%;
    height: 300px;
    background: linear-gradient(180deg, #075FC7 0%, #055DA0 100%);
}

.below {
    width: 60%;
    height: 80%;
}

.below .belowtop {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
    padding-bottom: 30px;
    border-bottom: 1px solid white;
}


/* .below .belowtop .two img:nth-child(even) {
    opacity: 4;
} */

.belowtext {
    display: flex;
    justify-content: space-between;
    /* color: white; */
}

.belowtext ul {
    display: flex;
}

.belowtext ul li {
    margin-left: 20px;
    list-style: none;
}